#top {
color:white;
width:100%;
height:5.5em;
padding:0;
background-color:#233864;
}

.skipmenu {
float:right;
font-size:0.6em;
color:white;
background-color:#1A3864;
font-weight:bold;
}

#top .logo {
float:left;
width:60px;
margin:0.5em 0.5em 0 0.5em;
}

#title {
margin:1em 0 0 0;
font-size:1.45em;
font-family:Arial Black;
}

h1 {
font-size:1.5em;
font-family: Arial Black;
}

#subtitle {
font-size:1em;
font-style:italic;
font-weight:bold;
font-family: Arial;
padding:0;
margin:0;
}

#header {
background-color: #ABBFCE;
color:white;
height:1.8em;
width:100%;
}

#navlist li ul li {
border: 0px;
color:white;
background-color:#ABBFCE;
}

#navlist {
color:white;
background-color:#ABBFCE;
width:100%;
}

#navlist, #navlist ul {
padding: 0;
margin: 0;
list-style: none;
font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
font-size: 1em;
}

#navlist a {
display: block;
background-color: inherit;
padding: 0.5em 1em;
color: black;
text-decoration:none;
font-size:0.8em;
}

#navlist a:hover, #navlist li ul li:hover {
background-color: #7B8F9E;
color: white;
}

#navlist li {
float: left;
}

#navlist li ul {
position: absolute;
width: 13em;
left: -999em;
display:none;
}

#navlist li ul li {
width:13em;
}

#navlist li:hover ul {
left: auto;
display:inline;
}