div.row {
clear: both;
padding-top: 4px;
margin-left:1em;
}

div.row span.label {
float: left;
width: 13em;
text-align: right;
padding-right:0.2em;
}

div.row span.formw {
float: left;
text-align: left;
}

input {
border:0;
}

input.text, input.button {
border: 0.1em solid #69C;
padding: 0;
font-size: 1em;
font-weight: bold;
}


textarea {
border: 0.1em solid #69C;
}

#form {
background-color: #FFF;
padding: 0.25em;
color:#000;
}

#form h2 {
padding:0;
margin:0;
font-size:1.3em;
color:#369;
}

fieldset{
padding:0.5em;
}

select {
border:0.1em solid white;
}